# Supabase Backend Configuration
SUPABASE_URL=https://slcpvmpsynkqdozvlsii.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_jqJACnQHmCMcGjt0kG6Sug_ddknIbAA

# ImgBB Image Hosting API
IMGBB_API_KEY=576f654932a2b7398e765cf27d8c73d4

# Optional AI Keys
GEMINI_API_KEY=AIzaSyDummyGeminiKey
OPENROUTER_API_KEY=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
